@model List<Product>

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h2 class="text-center">PRODUCTS</h2>
        </div>
    </div>
    <div class="card-body">
        <a href="/product/new" class="btn btn-sm btn-primary" style="float:right">ADD PRODUCT</a>
        <br>
        <br>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>PRICE</th>
                    <th>DESCRIPTION</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var p in Model)
                {
                    <tr>
                        <td>@p.Id</td>
                        <td>@p.Name</td>
                        <td>@Math.Round(p.Price,2)</td>
                        <td>@p.Description</td>
                        <td>
                        <a asp-controller="Product" asp-action="Edit" asp-route-Id="@p.Id" class="btn btn-sm btn-outline-primary" >EDIT</a>
                        <button class="btn btn-sm btn-outline-danger delete"
                                data-id="@p.Id"
                                data-action="Delete"
                                data-controller="Product"
                                data-body-message="Are you sure to delelet this product?">
                                Delete
                        </button>
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
</div>